@import "tailwindcss";

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1.2s ease-out forwards;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.animate-cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: #a78bfa;
    margin-left: 4px;
    vertical-align: bottom;
    animation: blink 1s step-end infinite;
}